
#contact {
	width: 100%;
	height: auto;
	background-color: #e6b58f;
}

#contact .container {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
	text-transform: capitalize;
}

#contact .container h4 {
	font-family: "Franklin Gothic Medium";
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.056rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#contact .container p {
	font-family: Cambria;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.044rem;
	text-align: center;
	padding: 0.2rem 0rem;
}

#contact .container p.email {
	margin: 0 auto;
	margin-top: 16rem;
	border-bottom: 1px solid white;
	text-align: left;
	width: 40%;
}

#contact .container p.email span {
	width: 17px;
	height: 15px;
	float: right;
}

#contact .container p.email span img {
	width: 17px;
	height: auto;
}

@media only screen and (max-width: 800px) {
	#contact .container p.email {
		width: 90%;
	}
}